<div id="confirm-modal" class="modal hide fade in">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>Confirm Delete</h3>
	</div>
	<div class="modal-body">
		<p id="question">
			Are you sure?
		</p>
	</div>
	<div class="modal-footer">
		<a id="delete" href="javascript:;" class="btn btn-danger" 
                   data-method="delete">Delete</a>
		<a class="btn" data-dismiss="modal" href="#">Cancel</a>
	</div>
</div>